* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: gray;
}
:root{
    --user-card-color: rgba(155,155,155,0.3);
    --radius-user-image: 100px;

}
.userCard {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 470px;
    min-width: 100px;
    max-width: 500px;
    background-color: white;
    margin-top: 50px;
    color: black;
    border-radius: 40px;
    font-size: 20px;
    box-shadow: inset 0 3px 6px 3px rgba(0,0,0,0.4);
}
.userImg {
    width: 175px;
    height: calc(var(--radius-user-image)*2);
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
    border: 5px solid white;
    border-radius: 50%;
    position: relative;
    bottom: 110px;
    margin-top: 20px;
    z-index: 2;
}
.userImg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardImg {
    width: 300px;
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: inset 0 3px 6px 3px rgba(0,0,0,0.4);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}
.cardImg > img {
    width:  100%;
    height: 100%;
    object-fit: inherit;
}
.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    box-sizing: border-box;
    position: relative;
    padding: 10px 10px;
    width: 260px;
    bottom: 100px;
    font-family: 'Encode Sans', sans-serif;
    color: rgb(99, 99, 99);
    font-size: 20px;
}
.userInfo > h3{
    font-style: bold;
}
.userInfo > p {
    font-size: 15px;
    position: relative;
    top: 20px;
    line-height: 1.3em;
    text-align: center;
}
.userWebLinks > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userWebLinks{
    border-top: 2px solid var(--user-card-color);
    padding-top: 5px;
    margin-top: -50px;
}
.tw, .fb{
    margin-right: 5px
}
.userWebLinks>img{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 50%;
}